<h2>ABL</h2>
    <ul>
        <li><a href="index.html#qui-sommes-nous-">Qui sommes nous</a></li>
        <li><a href="index.html#lespace-bidouille">L'espace bidouille</a></li>
	<li><a href="index.html#nous-contacter--nous-rencontrer">Nous contacter</a></li>
    </ul>
<h2>Projets</h2>
    <ul>
        <li><a href="https://github.com/bidouilleurslibristes/distribuABL">DistribuABL</a></li>
	<li><a href="https://bidouilleurslibristes.github.io/Artefact/">Artefact</a></li>
        <li><a href="https://github.com/yoann-dufresne/Spaceship_node">Spaceship</a></li>
     </ul>

<h2>Nous retrouver</h2>
    <ul>
        <li><a href="https://www.facebook.com/EspaceBidouille/">Facebook</a></li>
	<li><a href="https://twitter.com/espacebidouille">Twitter</a></li>
        <li>abl[at]univ-lille.fr</li>
    </ul>
													        
